<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <div class="caja-superior">
            <h1><img src="../public/img/logo/logo.png"></h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <ul class="productos">
            <li>
                <h2>Cabello</h2>
                <img src="../public/img/logo/cabello.jpg">
                <p class="producto-descripcion">Corte profesional con tijeras o navaja, a gusto del cliente </p>
                <p class="producto-precio">u$s10.00</p>
            </li>
            <li>
                <h2>Barba</h2>
                <img src="../public/img/logo/barba.jpg">
                <p class="producto-descripcion">Corte profesional de bigote y barba</p>
                <p class="producto-precio">u$s8.00</p>
            </li>
            <li>
                <h2>Cabello + Barba</h2>
                <img src="../public/img/logo/cabello+barba.jpg">
                <p class="producto-descripcion">Combo completo de cabello y barba</p>
                <p class="producto-precio">u$s12.00</p>
            </li>
        </ul>
    </main>

    <footer>
        <img src="../public/img/logo/logo-blanco.png">
        <p class="copyright">©Copyright Barbería Alura - 2020</p>
    </footer>
</body>
</html>